{% extends 'base.html' %}

{% block body %}

{% if messages %}

{% for message in messages %}

{% if message.tags == "warning" %}
<div id="message" class="alert_warning">
   <span>   {{message}} </span>
</div>
{% else %}
<div id="message" class="alert_success">
   <span>{{message}}</span> 
</div>
{% endif %}
    
{% endfor %}
    
{% endif %}


   <h1>Arabalar</h1>
   {% for car in cars %}
    <div>

        <h3>{{car.marka}}</h3>
        <h4>{{car.model}}</h4>
        <p>{{car.description| truncatechars:10 }}</p>
        <a href="{% url 'cardetail' car.id %}"><button>Detail</button></a>
    </div>
   {% endfor %}


{% endblock %}