{% extends 'base.html' %}

{% block body %}


{% if messages %}

{% for message in messages %}

{% if message.tags == "warning" %}
<div id="message" class="alert_warning">
   <span>   {{message}} </span>
</div>
{% else %}
<div id="message" class="alert_success">
   <span>{{message}}</span> 
</div>
{% endif %}
    
{% endfor %}
    
{% endif %}





<h1>Menim masinlarim</h1>
{% for car in cars %}
 <div>

     <h3>{{car.marka}}</h3>
     <h4>{{car.model}}</h4>
     <p>{{car.description|safe}}</p>
     <a href="{% url 'update' car.id %}">guncelle</a>
     <a href="{% url 'delete' car.id %}">delete</a>
 </div>
{% endfor %}
<a href="{% url 'add' %}"><button class="btn">Yeni Masin elave et</button></a>

    
{% endblock %}